/*
.vscode/
.build/
minishell
*.out
*.o
*.d
html/
latex/
!*/
!*.c
!*.h
!Makefile
!*.mk
!todo
!Doxyfile
!.gitignore
!srcs
!includes
!libft-1.2
!config
!.vscode


compile_commands.json
test/
srcs/main.c
.clang-format
srcs/main.c
test/shellception.txt

.clang-format
|
$t
a
b
cat
env
ls
o a
out
